[Unit]
Description=Office Curtains Control FastAPI Application
After=network.target

[Service]
Type=simple
User=www
Group=www
WorkingDirectory=/home/www/curtains/OfficeCurtains
Environment="PATH=/home/www/.local/bin:/usr/bin"
ExecStart=/usr/bin/gunicorn server:app -k uvicorn.workers.UvicornWorker -w 4 --bind unix:/home/www/curtains/OfficeCurtains/run/gunicorn.sock
ExecStartPre=/bin/mkdir -p /home/www/curtains/OfficeCurtains/run
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
